@model IEnumerable<GesCollege.Models.Note>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>
        <span class="glyphicon glyphicon-check" aria-hidden="true"> Note</span>
    </h1>
    <p class="lead"></p>
</div>

<div class="row first">
    <div class="col-lg-8">
        <div class="col-lg-3">
            <a href="@Url.Action("Create")">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">Create New</span>
            </a>
        </div>
    </div>
    @using (Html.BeginForm("Index", "Note", FormMethod.Get))
    {
        <div class="col-lg-4">
            Find by name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
            <input type="submit" value="Search" />
        </div>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Etudiants.Nom)
            @Html.DisplayNameFor(model => model.Etudiants.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.LibCours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteControle)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Etudiants.Nom)
        @Html.DisplayFor(modelItem => item.Etudiants.Prenom)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Courses.LibCours)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.NoteControle)
    </td>
    <td>
        <a href="Note/Edit/@Html.DisplayFor(modelItem => item.Id)">
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </a> |
        <a href="Note/Details/@Html.DisplayFor(modelItem => item.Id)">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        </a> |
        <a href="Note/Delete/@Html.DisplayFor(modelItem => item.Id)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </a>
    </td>
</tr>
    }

</table>
